.content-container {
    display:flex;
    align-items: center;
}
.profile-image{
   margin-right: 16px;
   width: 200px;
   height: auto; 
}
.text-content{
    flex: 1;
}
.profile-title{
    margin-bottom: 15px;
}
ion-label h2{
    font-weight: bold;
}
ion-label h3{
    font-style: italic;
    color: gray;
}
ion-label p{
    margin: 0.2rem 0;
}