.calculadora {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.display{
    text-align: center;
}
ion-input {
    font-size: 2em; /* Tamaño de fuente más grande */
    text-align: right; /* Alinea el texto a la derecha */
    margin-bottom: 10px; /* Espacio debajo del input */
  }
.botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}